body { 
    background: url(img/wild.png) repeat;
    }



.header {
    background-color: rgba(145, 145, 166, 0.15);
    width: 750px;
    height: 120px;
    margin: 0 auto;
    border-radius: 10px;
    position: relative;
    margin-bottom:20px;
    }

.header h1 {
    background: url(img/logo.png) no-repeat;
    width: 649px;
    height: 82px;
    text-indent: -999em;
    overflow: hidden;
    margin: 0 auto;
    padding-top: 10px;
    position: relative;
    top: 15px;
    }

.max img {
    display:block;
    margin:20px auto;
    background:rgba(0,0,0,0.5);
    border: 10px solid rgba(155, 155, 155, 0.9)
    }
